*{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin-top: 50px;
}